{% extends "base.html.twig" %}
{% block   titre %} Bibliothèque  {% endblock %}
{% block   contenu %} 
<div style="background-color: #f8f8f8; padding: 20px;">
  <h3>Découvrez des livres passionnants et les auteurs qui les ont créés</h2>
  <h3>Ajoutez de nouveaux livres avec des photos et reliez-les à leurs auteurs</h3>
  <p>Ce site Bibliothèque de livres vous invite à explorer un monde de connaissances et d'aventures littéraires. Avec une base de données robuste créée avec MONGOdb et une architecture MVC en utilisant les dernières technologies Node.js, vous pourrez découvrir de nouveaux livres et les auteurs qui les ont créés. Le site vous offre également la possibilité d'ajouter de nouveaux livres, avec leurs photos et de les lier à leurs auteurs, ce qui vous permet de partager vos propres découvertes avec d'autres passionnés de littérature.</p>
  <p style="color: red;">Pour les questions de securité ce site est protégé en écriture au niveau de la base de données!</p>
</div>
 {% endblock %}